body {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
  cursor: default;
}
#header {
  grid-row: 1;
  background-color: #416c8a;
  grid-column-start: 1;
  grid-column-end: -1;
}
#ttl {
  grid-column: 1;
  margin-left: 10px;
  align-self: flex-end;
  color: #cba54e;
  font-style: italic;
  font-weight: bold;
}

.pageContent {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 50px calc(60vh - 25px) calc(40vh - 25px);
}
.aboutUsImage {
  object-fit: scale-down;
  height: 200px;
  object-position: 0 -10%;
}

.aboutUsCard {
  width: 170px;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 270px;
}

.imageCropper {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.infoUl {
  list-style-type:none;
  text-align: center;
  padding: 0;
}

.members {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
}

.knownIssues {
  max-height: 100%;
  grid-column: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ourProject {
  grid-column: 1;
}

.knownIssuesContent {
  text-align: left;
  font-family: 'Courier New';
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
  overflow: auto;
}

.updateDate {
  background-color: black;
  color: white;
}

.updateHeadline {
  font-weight: bold;
  text-align: center;
}